{% extends 'base.html' %}
{% block content %}
    <h2>Drill View</h2><br>
    {% if incorrect_answer %}
    <strong> Your answer is not correct</strong><br>
    {% endif %}

    <form method="GET" action="{% url 'drill' %}">
      {% csrf_token %}
      <div class="field">
        <label class="label">Make a Guess</label>
        <div class="control">
          <input class="input" type="text" name="user_guess" placeholder="Your guess">
        </div>
      </div>
      <input type="hidden" id="postId" name="postId" value="{{clue.id}}">
      <div class="control">
        <button class="button is-link" name="guess_submitted">Submit</button>
      </div>
    </form>
    <br>
    <h3>Clue: {{ clue.clue_text}}</h3><br>
    <h3>{{ clue.entry.entry_text|length}} Letters</h3><br>
    <h3>Puzzle: {{ clue.puzzle.get_title }}</h3><br>


  <div class="control">
    <button class="button is-link" value="btn" onclick="toggle();" >Show Answer</button>
  <div class="field">

  <div class="field" id="hidden_answer">
    <span>{{ clue.entry.entry_text }}</span>
  </div>
<script>
  var toggle = function() {
  var mydiv = document.getElementById('hidden_answer');
  if (mydiv.style.display === 'block' || mydiv.style.display === '')
    mydiv.style.display = 'none';
  else
    mydiv.style.display = 'block';
  }
</script>
{% endblock %}
