{% extends 'base.html' %}
{% block content %}
    <h2>Drill View</h2><br>
    <form method="get" action="">
      {% csrf_token %}
      <div class="field">
      <label class="label">What</label>
      <div class="control">
        <input class="input" type="text" name="answer" placeholder="Your guess">
        <input type="hidden" id="postId" name="postId" value="{{clue.id}}">
      </div>
      </div>
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </form><br>
    <h3>Clue: {{ clue.clue_text}}</h3><br>
    <h3>{{ clue.entry.entry_text|length}} Letters</h3><br>
    <h3>Puzzle: {{ clue.puzzle }}</h3><br>
{% endblock %}
